<div [ngClass]="classMap">
  <div [ngSwitch]="model.kind" class="container-fluid">

    <div *ngSwitchCase="'account.updated'">
      <event-account-updated [model]="model.payload" #ev></event-account-updated>
    </div>

    <div *ngSwitchCase="'account.witness_voted'">
      <event-account-witness-voted [model]="model.payload" #ev></event-account-witness-voted>
    </div>

    <div *ngSwitchCase="'transfer.made'">
      <event-transfer-made [model]="model.payload" #ev></event-transfer-made>
    </div>

    <div *ngSwitchCase="'user.mentioned'">
      <event-user-mentioned [model]="model.payload" #ev></event-user-mentioned>
    </div>

    <div *ngSwitchCase="'user.follow_changed'">
      <event-user-follow-status-changed [model]="model.payload" #ev></event-user-follow-status-changed>
    </div>

    <div *ngSwitchCase="'story.published'">
      <event-story-published [model]="model.payload" #ev></event-story-published>
    </div>

    <div *ngSwitchCase="'story.voted'">
      <event-story-voted [model]="model.payload" #ev></event-story-voted>
    </div>

    <div *ngSwitchCase="'comment.published'">
      <event-comment-published [model]="model.payload" #ev></event-comment-published>
    </div>

    <div *ngSwitchCase="'comment.voted'">
      <event-comment-voted [model]="model.payload" #ev></event-comment-voted>
    </div>
 
    <div *ngSwitchDefault>
      <strong>Unknown event kind: {{model.kind}}</strong>
    </div>

  </div>
</div>
