<div class="content">
  <h1>Events</h1>

  <p class="description">On this screen you can set what events to watch and how
  to filter the events being watched so that you are only notified about what
  really interests you.</p>

  <p class="description">Make sure to add items one by one, e.g. every account
  name is a separate item that you add by clicking Add.</p>

  <p class="description">DO NOT USE @ WHEN SPECIFYING AN ACCOUNT NAME!</p>

  <event-list [model]="events">
    <img src="/assets/img/loading.gif" />
  </event-list>
</div>
